Working at a telecom company that offers phone and internet services, and we have a problem: some of our customers are churning. They no longer
are using our services and are going to a different provider. To prevent that from happening, we develop a system for identifying these customers and offer
them an incentive to stay.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Telco-Customer-Churn.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [3]:
data.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [4]:
#Change to numeric and fill empty cells with 0
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors = 'coerce')

In [5]:
data['TotalCharges'] = data.TotalCharges.fillna(0)
data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [6]:
#change column name to lower case and remove any spaces in the data
data.columns = data.columns.str.lower().str.replace(' ', '_')
string_columns = list(data.dtypes[data.dtypes == 'object'].index)
for col in string_columns:
    data[col] = data[col].str.lower().replace(' ', '_')
string_columns

['customerid',
 'gender',
 'partner',
 'dependents',
 'phoneservice',
 'multiplelines',
 'internetservice',
 'onlinesecurity',
 'onlinebackup',
 'deviceprotection',
 'techsupport',
 'streamingtv',
 'streamingmovies',
 'contract',
 'paperlessbilling',
 'paymentmethod',
 'churn']

In [64]:
#Convert the churn column from categorical to numerical
data['churn'] = data['churn'].astype('category')
data['churn'] = data['churn'].cat.codes
data.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-vhveg,female,0,yes,no,1,no,no phone service,dsl,no,...,no,no,no,no,month-to-month,yes,electronic check,29.85,29.85,0
1,5575-gnvde,male,0,no,no,34,yes,no,dsl,yes,...,yes,no,no,no,one year,no,mailed check,56.95,1889.50,0
2,3668-qpybk,male,0,no,no,2,yes,no,dsl,yes,...,no,no,no,no,month-to-month,yes,mailed check,53.85,108.15,1
3,7795-cfocw,male,0,no,no,45,no,no phone service,dsl,yes,...,yes,yes,no,no,one year,no,bank transfer (automatic),42.30,1840.75,0
4,9237-hqitu,female,0,no,no,2,yes,no,fiber optic,no,...,no,no,no,no,month-to-month,yes,electronic check,70.70,151.65,1

In [65]:
#Split the data into three: training set, validation set and test set
from sklearn.model_selection import train_test_split
data_train_val, data_test = train_test_split(data, test_size = 0.2, random_state = 10)
data_train, data_validation = train_test_split(data_train_val, test_size = 0.15, random_state = 19)
data_validation

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
2381,7649-phjvr,male,0,no,no,11,yes,no,no,no internet service,...,no internet service,no internet service,no internet service,no internet service,one year,no,mailed check,19.50,226.80,0
1794,5377-ndtou,female,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,two year,no,mailed check,91.05,6293.75,0
6686,4670-tabxh,male,0,yes,no,72,yes,yes,fiber optic,no,...,yes,yes,yes,yes,two year,yes,credit card (automatic),109.75,7758.90,0
2085,8290-ywkhz,female,1,yes,no,32,yes,yes,fiber optic,no,...,no,no,yes,yes,month-to-month,yes,electronic check,93.20,2931.00,1
1882,5832-exgtt,male,0,yes,yes,29,yes,no,dsl,yes,...,no,no,no,yes,month-to-month,yes,mailed check,60.20,1834.15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6194,2868-llskm,female,0,yes,yes,68,yes,yes,fiber optic,no,...,no,yes,no,no,one year,yes,bank transfer (automatic),83.65,5733.40,0
1823,8496-ejaui,male,0,no,no,19,yes,no,fiber optic,no,...,no,no,no,no,month-to-month,yes,credit card (automatic),73.85,1424.50,1
3958,4652-nnhny,male,0,yes,no,16,yes,yes,fiber optic,no,...,no,no,no,no,month-to-month,yes,bank transfer (automatic),73.85,1284.20,1
4784,1622-hshsf,female,0,no,no,1,yes,no,no,no internet service,...,no internet service,no internet service,no internet service,no internet service,month-to-month,yes,mailed check,19.55,19.55,0
6650,5850-bdwcy,female,0,no,no,6,yes,no,no,no internet service,...,no internet service,no internet service,no internet service,no internet service,month-to-month,no,mailed check,20.20,123.65,0

In [71]:
y_train = data_train['churn']
y_val = data_validation.churn.values
y_test = data_test.churn.values

x_train = data_train.drop(columns = 'churn')
x_val = data_validation.drop(columns = 'churn')
x_test = data_test.drop(columns = 'churn')

In [72]:
y_train

6348    0
6243    0
5381    1
81      0
5751    0
       ..
2436    0
5730    0
4155    0
535     0
388     0
Name: churn, Length: 4788, dtype: int8

In [73]:
# Check the distribution of values in the target variable
data_train_val.churn.value_counts()

churn
0    4108
1    1526
Name: count, dtype: int64

In [74]:
#The dataset is imbalanced
global_mean = round(data_train_val.churn.mean(), 3)
global_mean
#Approximately 27% of the customers stopped using our services

0.271

In [75]:
categorical_columns = ['gender', 'seniorcitizen', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice',
 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv', 'streamingmovies', 'contract',
 'paperlessbilling', 'paymentmethod']
numerical_columns = ['tenure', 'monthlycharges', 'totalcharges']
#Check how many unique variables each column has
data_train_val[categorical_columns].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [76]:
#Computing individual groups churn rate
female_mean = data_train_val[data_train_val.gender == 'female'].churn.mean()
male_mean = data_train_val[data_train_val.gender == 'male'].churn.mean()
partner_mean = data_train_val[data_train_val.partner == 'yes'].churn.mean()
no_partner_mean = data_train_val[data_train_val.partner == 'no'].churn.mean()
partner_mean

0.19911991199119913

In [77]:
#Calculating risk ratio for all the categorical variables
from IPython.display import display
for col in categorical_columns:
    data_group = data_train_val.groupby(by=col).churn.agg(['mean'])
    data_group['diff'] = data_group['mean'] - global_mean
    data_group['rate'] = data_group['mean'] / global_mean
    display(data_group)

# If the risk is lower than 1, the group has lower risks the churn rate in this group is smaller than the global churn
# if the value is higher than 1, the group is risky: there’s more churn in the group than in the population

            mean      diff      rate
gender
female  0.274090  0.003090  1.011402
male    0.267655 -0.003345  0.987658

                   mean      diff      rate
seniorcitizen
0              0.242630 -0.028370  0.895313
1              0.415669  0.144669  1.533835

             mean      diff      rate
partner
no       0.338149  0.067149  1.247783
yes      0.199120 -0.071880  0.734760

                mean      diff      rate
dependents
no          0.318992  0.047992  1.177092
yes         0.160023 -0.110977  0.590492

                  mean      diff      rate
phoneservice
no            0.239927 -0.031073  0.885339
yes           0.274175  0.003175  1.011714

                      mean      diff      rate
multiplelines
no                0.256533 -0.014467  0.946616
no phone service  0.239927 -0.031073  0.885339
yes               0.294391  0.023391  1.086312

                     mean      diff      rate
internetservice
dsl              0.192347 -0.078653  0.709769
fiber optic      0.429030  0.158030  1.583135
no               0.069652 -0.201348  0.257017

                         mean      diff      rate
onlinesecurity
no                   0.426954  0.155954  1.575477
no internet service  0.069652 -0.201348  0.257017
yes                  0.146783 -0.124217  0.541636

                         mean      diff      rate
onlinebackup
no                   0.408377  0.137377  1.506926
no internet service  0.069652 -0.201348  0.257017
yes                  0.220051 -0.050949  0.811998

                         mean      diff      rate
deviceprotection
no                   0.403885  0.132885  1.490351
no internet service  0.069652 -0.201348  0.257017
yes                  0.226878 -0.044122  0.837188

                         mean      diff      rate
techsupport
no                   0.424340  0.153340  1.565829
no internet service  0.069652 -0.201348  0.257017
yes                  0.155597 -0.115403  0.574157

                         mean      diff      rate
streamingtv
no                   0.348000  0.077000  1.284133
no internet service  0.069652 -0.201348  0.257017
yes                  0.302571  0.031571  1.116499

                         mean      diff      rate
streamingmovies
no                   0.343416  0.072416  1.267219
no internet service  0.069652 -0.201348  0.257017
yes                  0.307339  0.036339  1.134094

                    mean      diff      rate
contract
month-to-month  0.433109  0.162109  1.598187
one year        0.113500 -0.157500  0.418818
two year        0.032496 -0.238504  0.119913

                      mean      diff      rate
paperlessbilling
no                0.163820 -0.107180  0.604500
yes               0.343778  0.072778  1.268553

                               mean      diff      rate
paymentmethod
bank transfer (automatic)  0.169082 -0.101918  0.623919
credit card (automatic)    0.153908 -0.117092  0.567927
electronic check           0.468816  0.197816  1.729949
mailed check               0.189039 -0.081961  0.697561

In [78]:
#Calculating the Mutual information
from sklearn.metrics import mutual_info_score
def calculate_mi(series):
    return mutual_info_score(series, data_train_val.churn)

data_mi = data_train_val[categorical_columns].apply(calculate_mi) #Apply the calculate mi function
data_mi = data_mi.sort_values(ascending=False).to_frame(name= 'MI') #Order the values and convert into a dataframe
data_mi

                        MI
contract          0.098122
onlinesecurity    0.069055
techsupport       0.066233
internetservice   0.059577
onlinebackup      0.050043
paymentmethod     0.048881
deviceprotection  0.048156
streamingtv       0.034956
streamingmovies   0.034614
paperlessbilling  0.020653
dependents        0.014443
partner           0.012371
seniorcitizen     0.009664
multiplelines     0.001074
phoneservice      0.000266
gender            0.000026

In [79]:
#Calculating correlation between the numerical columns to the churn column
data_train_val[numerical_columns].corrwith(data_train_val.churn)

tenure           -0.351325
monthlycharges    0.201568
totalcharges     -0.198116
dtype: float64

In [80]:
# convert our dataframe to a list of dictionaries
train_dict = data_train[categorical_columns + numerical_columns].to_dict(orient='records')

In [81]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [82]:
# After we fit the vectorizer, we can use it for converting the dictionaries to a matrix
data_x_train = dv.transform(train_dict)
data_x_train[0]

array([1.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
       1.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
       0.00000e+00, 1.00000e+00, 0.00000e+00, 6.90500e+01, 1.00000e+00,
       0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
       1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
       1.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
       0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.00000e+00,
       0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
       1.00000e+00, 0.00000e+00, 0.00000e+00, 2.60000e+01, 1.81565e+03])

In [83]:
y_train

6348    0
6243    0
5381    1
81      0
5751    0
       ..
2436    0
5730    0
4155    0
535     0
388     0
Name: churn, Length: 4788, dtype: int8

In [84]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver = 'liblinear', random_state = 1)
model.fit(data_x_train, y_train)

LogisticRegression(random_state=1, solver='liblinear')

In [85]:
#apply it to our validation data to obtain the probability of churn for each customer in the validation dataset
val_dict = data_validation[categorical_columns + numerical_columns].to_dict(orient = 'records')
x_val =dv.transform(val_dict)

In [88]:
y_val_pred = model.predict_proba(x_val)[:, 1]

In [89]:
#The probability of the customers churning are
y_val_pred

array([0.06571231, 0.00978069, 0.07417945, 0.67201704, 0.15282285,
       0.697387  , 0.82405894, 0.00246452, 0.57070479, 0.07127316,
       0.01327915, 0.09797799, 0.03821318, 0.12816434, 0.31566612,
       0.39067696, 0.16576885, 0.40489415, 0.00276994, 0.06043319,
       0.02006946, 0.00882278, 0.70327067, 0.15668029, 0.00342828,
       0.12569598, 0.00343576, 0.19154851, 0.10171624, 0.80833268,
       0.70330417, 0.44763325, 0.28179035, 0.40732499, 0.43058469,
       0.75751223, 0.58228802, 0.23731764, 0.37547972, 0.26311624,
       0.61665938, 0.0227931 , 0.02684768, 0.04411192, 0.33604023,
       0.00595603, 0.14617455, 0.46262788, 0.45228374, 0.06124371,
       0.2402789 , 0.4116964 , 0.15345968, 0.49742105, 0.04712372,
       0.83996858, 0.01044168, 0.31916278, 0.60293836, 0.01587708,
       0.49117253, 0.00621995, 0.04580148, 0.03338045, 0.10959153,
       0.07307541, 0.00357417, 0.3078975 , 0.34919657, 0.00914481,
       0.00761313, 0.68680933, 0.60043728, 0.00287211, 0.73711472,
       0.02966731, 0.10387341, 0.64259471, 0.27112371, 0.42872152,
       0.04736923, 0.05919857, 0.04610919, 0.00647836, 0.17529043,
       0.68461016, 0.6615561 , 0.38872483, 0.01101206, 0.00649298,
       0.71791769, 0.01523429, 0.26479581, 0.10160103, 0.25844413,
       0.40252539, 0.01129495, 0.31209112, 0.17543424, 0.49158041,
       0.34728847, 0.28749441, 0.36754745, 0.30967602, 0.01396568,
       0.03016346, 0.05547577, 0.01509455, 0.66345171, 0.08017082,
       0.26041302, 0.36035847, 0.30122411, 0.10844342, 0.16247081,
       0.73831694, 0.47135879, 0.60438948, 0.01519851, 0.17616612,
       0.551218  , 0.4376335 , 0.77064985, 0.08838071, 0.53329712,
       0.00714142, 0.00408062, 0.33788293, 0.05832525, 0.00329807,
       0.18980973, 0.34584819, 0.06172786, 0.82079613, 0.04935068,
       0.43900701, 0.28258385, 0.28627176, 0.01921662, 0.38561399,
       0.04300328, 0.63049708, 0.38792283, 0.05978546, 0.42426584,
       0.7249145 , 0.17195237, 0.00319337, 0.58258753, 0.16939046,
       0.69478109, 0.01516764, 0.41792127, 0.56320917, 0.34073816,
       0.01116357, 0.45593613, 0.02829466, 0.01235974, 0.22461341,
       0.5080122 , 0.48922391, 0.3294878 , 0.00345421, 0.70010779,
       0.10028972, 0.64534608, 0.78429944, 0.02722672, 0.46215586,
       0.11839374, 0.26871147, 0.42784993, 0.61023202, 0.01402996,
       0.0525253 , 0.06070074, 0.0115481 , 0.11687485, 0.0543005 ,
       0.03611454, 0.09942437, 0.05032125, 0.00856995, 0.12120381,
       0.09458061, 0.21628763, 0.06033953, 0.14728169, 0.68831732,
       0.20712474, 0.16852742, 0.04748894, 0.13265303, 0.69456188,
       0.04241097, 0.01236422, 0.17418887, 0.64489397, 0.20091102,
       0.02132391, 0.61219108, 0.72231273, 0.04181618, 0.22669571,
       0.25318284, 0.24431733, 0.11016841, 0.07171886, 0.04125607,
       0.103178  , 0.33083753, 0.19367524, 0.23051278, 0.40188527,
       0.00756122, 0.15908258, 0.04081801, 0.18590891, 0.31833211,
       0.64907909, 0.65376872, 0.08038609, 0.38982179, 0.55961755,
       0.19348176, 0.7506895 , 0.55548518, 0.02590538, 0.02215672,
       0.0240081 , 0.333952  , 0.58910421, 0.08281612, 0.49605162,
       0.26737   , 0.15071057, 0.40910999, 0.52344392, 0.17202944,
       0.73398547, 0.36212403, 0.00429713, 0.150317  , 0.10459207,
       0.01110012, 0.49863327, 0.12424869, 0.53006413, 0.23669782,
       0.04671557, 0.67018811, 0.37351876, 0.31637109, 0.65516832,
       0.0035311 , 0.20205067, 0.08909199, 0.71482179, 0.09863038,
       0.649204  , 0.34892837, 0.04142741, 0.00368013, 0.12363843,
       0.56589384, 0.59299608, 0.24063162, 0.20838937, 0.64986045,
       0.21043785, 0.09551421, 0.21452963, 0.0148211 , 0.40230361,
       0.59504232, 0.00467637, 0.7153158 , 0.24450767, 0.04635235,
       0.6847479 , 0.43433166, 0.06019049, 0.22372024, 0.49627265,
       0.59989506, 0.14640567, 0.76587921, 0.48699639, 0.08574238,
       0.27763899, 0.68823522, 0.01874017, 0.62768413, 0.23684812,
       0.0499641 , 0.01070632, 0.04118711, 0.35769465, 0.69040898,
       0.44718705, 0.14184168, 0.22325557, 0.25086046, 0.02326575,
       0.590323  , 0.65612681, 0.69712424, 0.09713283, 0.04387652,
       0.00198023, 0.02714239, 0.59639568, 0.71757686, 0.01437864,
       0.42018141, 0.36881347, 0.00645122, 0.02020992, 0.23298154,
       0.09520839, 0.5042191 , 0.71740928, 0.74469168, 0.04362064,
       0.0480392 , 0.45570221, 0.40689795, 0.4605464 , 0.18809356,
       0.07543398, 0.00338783, 0.07260167, 0.47208222, 0.7401212 ,
       0.26096251, 0.47943064, 0.03476517, 0.32890434, 0.1957687 ,
       0.23844393, 0.23458392, 0.25477449, 0.03014189, 0.00980519,
       0.2154    , 0.68813459, 0.18252796, 0.58285147, 0.74408918,
       0.07145916, 0.06763765, 0.37754619, 0.06042615, 0.03807941,
       0.00988552, 0.0204596 , 0.00612731, 0.00588144, 0.03032032,
       0.1137212 , 0.02514736, 0.61483383, 0.63713404, 0.01646526,
       0.17814088, 0.011991  , 0.34901656, 0.65769044, 0.00253739,
       0.19451782, 0.10567525, 0.33818561, 0.2409465 , 0.03545495,
       0.78537118, 0.26930445, 0.23199348, 0.32097821, 0.04414785,
       0.12381703, 0.22832015, 0.01811774, 0.34170587, 0.73350839,
       0.09387201, 0.03575995, 0.04908265, 0.33724553, 0.36518797,
       0.79285928, 0.71993509, 0.68805492, 0.1259158 , 0.06744842,
       0.05367588, 0.3620872 , 0.09798081, 0.61883051, 0.57685867,
       0.18884022, 0.0177429 , 0.13526087, 0.00387739, 0.03596261,
       0.10980548, 0.22989071, 0.15764609, 0.13116461, 0.12173987,
       0.46292129, 0.70568026, 0.64907076, 0.06660418, 0.17558792,
       0.01206704, 0.04751007, 0.63220519, 0.37988334, 0.66318183,
       0.21843818, 0.36056924, 0.02474545, 0.14520235, 0.03076191,
       0.10231568, 0.79286962, 0.04427325, 0.04965983, 0.26433962,
       0.60257741, 0.00266519, 0.55297817, 0.03174442, 0.02876093,
       0.47376565, 0.0091367 , 0.00759975, 0.43946643, 0.78858447,
       0.3238484 , 0.41496384, 0.40149159, 0.58052064, 0.69432052,
       0.39478734, 0.23747089, 0.61924226, 0.04848373, 0.13698097,
       0.00885442, 0.00576582, 0.15857612, 0.55870725, 0.14285292,
       0.05436684, 0.53901109, 0.13278729, 0.04981144, 0.17596865,
       0.29906335, 0.29877508, 0.59412774, 0.10828624, 0.33130498,
       0.72950942, 0.12969952, 0.0036998 , 0.28278504, 0.23304496,
       0.0133324 , 0.55374486, 0.00928966, 0.81501121, 0.27616642,
       0.00336454, 0.12794722, 0.01120778, 0.03014731, 0.7348334 ,
       0.01369042, 0.00580836, 0.51954315, 0.28554964, 0.77419797,
       0.58668139, 0.12716498, 0.61440845, 0.13042548, 0.76792397,
       0.11169868, 0.31927165, 0.54054279, 0.614972  , 0.01724176,
       0.66408401, 0.19866137, 0.63613001, 0.57281856, 0.39105553,
       0.00741286, 0.06177946, 0.00708234, 0.66284477, 0.20255111,
       0.10101708, 0.06660299, 0.0809127 , 0.0344113 , 0.00475099,
       0.07635511, 0.37913023, 0.02211185, 0.04413263, 0.48357479,
       0.24219222, 0.71899705, 0.56589043, 0.26612637, 0.19353282,
       0.01121633, 0.09000901, 0.69425346, 0.4711915 , 0.00366989,
       0.56461613, 0.15455668, 0.02278297, 0.70626891, 0.17544352,
       0.1368789 , 0.15290962, 0.38332128, 0.77309082, 0.1165758 ,
       0.31259043, 0.35636034, 0.0433022 , 0.10170501, 0.70635467,
       0.6130455 , 0.83971055, 0.42596307, 0.0040233 , 0.0232825 ,
       0.00897136, 0.54157266, 0.47534678, 0.37344809, 0.55279979,
       0.37965666, 0.20003871, 0.21081897, 0.42332503, 0.33100912,
       0.0959826 , 0.21025659, 0.05470967, 0.83150385, 0.01825951,
       0.28289553, 0.56031523, 0.67765677, 0.06669399, 0.64090288,
       0.33028814, 0.37006277, 0.32869726, 0.48993628, 0.48920416,
       0.04861857, 0.73204587, 0.17598293, 0.00464572, 0.0630771 ,
       0.60384637, 0.20885987, 0.01254285, 0.36560373, 0.38575826,
       0.05914382, 0.62796258, 0.12308368, 0.09715172, 0.27079812,
       0.08528188, 0.03123469, 0.08638617, 0.24445602, 0.08449409,
       0.24153211, 0.03745044, 0.00417091, 0.58575843, 0.67741313,
       0.01653407, 0.39351053, 0.15891564, 0.22167937, 0.12026223,
       0.37630391, 0.17061784, 0.46157586, 0.15866853, 0.16466181,
       0.81913727, 0.63606066, 0.16604061, 0.03054574, 0.02120989,
       0.07796184, 0.6118244 , 0.10329085, 0.74725585, 0.28153259,
       0.36587208, 0.28851817, 0.08280982, 0.0435685 , 0.14146527,
       0.25989469, 0.68316979, 0.16593452, 0.08654652, 0.16936261,
       0.01105951, 0.44561249, 0.65039958, 0.4630226 , 0.32489211,
       0.56379254, 0.36698057, 0.21341438, 0.32326492, 0.6457263 ,
       0.42860237, 0.72338108, 0.61255824, 0.08174679, 0.2940556 ,
       0.06837987, 0.00382419, 0.06523457, 0.01616828, 0.01892018,
       0.15208989, 0.61560605, 0.68486899, 0.02434158, 0.70014628,
       0.17865481, 0.72304583, 0.40053974, 0.02119422, 0.23627437,
       0.19421336, 0.65344251, 0.7612325 , 0.50440921, 0.17587831,
       0.72418964, 0.50740174, 0.46845873, 0.18715036, 0.80180614,
       0.78074284, 0.36861803, 0.7376592 , 0.61167269, 0.0285205 ,
       0.71012264, 0.5909443 , 0.14607481, 0.07989956, 0.05630039,
       0.04736354, 0.16689628, 0.53100155, 0.77978402, 0.55186998,
       0.12291707, 0.02115502, 0.01090332, 0.01498428, 0.63739467,
       0.58872625, 0.14692151, 0.17185712, 0.05955439, 0.12212938,
       0.0405631 , 0.72615285, 0.75479065, 0.66813915, 0.56818885,
       0.46646462, 0.44725576, 0.75476263, 0.2844887 , 0.18275125,
       0.48396492, 0.61739878, 0.17441145, 0.01683118, 0.03118974,
       0.16961059, 0.44178261, 0.01112584, 0.43914442, 0.00304633,
       0.08216801, 0.42939507, 0.05206391, 0.04756909, 0.34976263,
       0.09794547, 0.03888467, 0.28809856, 0.60484566, 0.15071233,
       0.15279374, 0.59782284, 0.22263   , 0.39683945, 0.32641429,
       0.36050401, 0.56505953, 0.01257035, 0.13299806, 0.00391859,
       0.45622396, 0.38414215, 0.28215282, 0.15111227, 0.66861339,
       0.46621179, 0.56809442, 0.02793462, 0.06533083, 0.54596319,
       0.03697296, 0.11368908, 0.43307058, 0.28888405, 0.53647462,
       0.55535748, 0.02972946, 0.08459806, 0.41867133, 0.13268676,
       0.0857156 , 0.23349727, 0.04167902, 0.46624027, 0.11842557,
       0.28259618, 0.20229161, 0.01236766, 0.07127451, 0.52290322,
       0.11390152, 0.78925564, 0.56148417, 0.02013294, 0.04643284,
       0.02707039, 0.77422984, 0.08837375, 0.13464924, 0.00402213,
       0.06775951, 0.22574314, 0.06126639, 0.00410582, 0.08761676,
       0.42215472, 0.00931203, 0.00445759, 0.68698793, 0.03152757,
       0.03864111, 0.57474788, 0.68975397, 0.76270082, 0.31351026,
       0.18076893, 0.18349819, 0.11256068, 0.70211262, 0.38795188,
       0.25032478, 0.01981484, 0.75025426, 0.00344596, 0.06889321,
       0.53013632, 0.7408288 , 0.00223372, 0.03593129, 0.59315635,
       0.3474888 , 0.26486169, 0.04665004, 0.78442149, 0.00739519,
       0.4868617 , 0.7541456 , 0.09432323, 0.3742379 , 0.08173904,
       0.03909303, 0.45961231, 0.66187628, 0.45953227, 0.04496401,
       0.01448132, 0.34518293, 0.01623133, 0.0658977 , 0.54421877,
       0.19177911, 0.00889085, 0.08168528, 0.00481383, 0.09597598,
       0.57760202, 0.73976708, 0.41715811, 0.00924203, 0.5093828 ,
       0.48216867, 0.40743985, 0.79875354, 0.00976888, 0.09393832,
       0.06975258, 0.42350649, 0.00208631, 0.03618065, 0.69600024,
       0.49983191, 0.08017374, 0.45802407, 0.58701543, 0.23198891,
       0.14132381])

In [94]:
#If the element is greater than 0.5 or equal to 0.5, the corresponding element in the output array is True, and otherwise,
# it’s False
churn = y_val_pred >= 0.5
accuracy = (y_val == churn).mean()
print("The model's accuracy is: ", round(accuracy * 100, 2), "%")

The model's accuracy is:  78.25 %

In [95]:
# prdict the churn rate of a customer to test the model
customer = {
'customerid': '8879-zkjof',
'gender': 'female',
'seniorcitizen': 0,
'partner': 'no',
'dependents': 'no',
'tenure': 41,
'phoneservice': 'yes',
'multiplelines': 'no',
'internetservice': 'dsl',
'onlinesecurity': 'yes',
'onlinebackup': 'no',
'deviceprotection': 'yes',
'techsupport': 'yes',
'streamingtv': 'yes',
'streamingmovies': 'yes',
'contract': 'one_year',
'paperlessbilling': 'yes',
'paymentmethod': 'bank_transfer_(automatic)',
'monthlycharges': 79.85,
'totalcharges': 3320.75,
}
customer_test = dv.transform([customer])
customer_test

array([[0.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 1.00000e+00, 0.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 7.98500e+01, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 1.00000e+00,
        1.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00,
        0.00000e+00, 1.00000e+00, 0.00000e+00, 0.00000e+00, 1.00000e+00,
        0.00000e+00, 0.00000e+00, 1.00000e+00, 4.10000e+01, 3.32075e+03]])

In [96]:
model.predict_proba(customer_test)[0, 1]

0.07836959247353878

The probability is 7.83% We will not be sending the customer an email